
#workspace_left_area[type="icons"] tab[widget="timeTrackingViewbox"] .tab-icon,
#workspace_bottom_area tab[widget="timeTrackingViewbox"] .tab-icon,
#workspace_right_area[type="icons"] tab[widget="timeTrackingViewbox"] .tab-icon {
	width: 13px;
	height: 13px;
	visibility: visible;
	background-image: url('koicon://ko-svg/chrome/icomoon/skin/clock.svg') !important;
	background-size: cover;
	margin-right: 2px;
}

